*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}



/* ! Navbar */
nav {
  padding: 50px 0;
}
.text {
  margin-right: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
  border: 1px solid violet;
  padding: 10px;
  border-radius: 30px;
}
.text:hover {
  background-color: violet;
  
}
